body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  text-align: center;
  display: block;
}

/*Button Styling*/
.button {
  padding: 10px 15px;
  background-color: rgb(17, 113, 238);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  
}

/*General Main*/
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App > * {
  margin: 10px 0;
}

/*Question*/
#question {
  margin: 10px 0;
  text-align: center;
  max-width: 400px;
}

#submit, #nextQ{
  width: 100px;
  display: block;
  padding: 5px 10px;
}

#show-ans {
  display: none;
}

#show-hint {
  margin-top: 10px;
  display: none;
}

/*Hint Component*/
#hint-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Right*/
#numbered-right {
  position: absolute;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  font-size: 1.5em;
}

#numbered-right strong {
  color: rgb(1, 214, 1)
}

/*Heading Title*/
#heading {
  font-size: 3em;
  position: absolute;
  top: 10%;
}

/*Lives Left*/
#lives-left {
  position: absolute;
  margin: 10px 0 0 10px;
  font-size: 1.5em;
  top: 0;
  left: 0;
}

#lives-left strong {
  color: rgb(168, 5, 5);
}

/*Next Question*/
#nextQ {
  display: none;
}

/*Lost Pop Up*/
#blurred {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(1px);
}

#lost-pop-up {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.212);
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
  height: 300px;
  position: absolute;
  z-index: 2;
  display: flex;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lost-pop-up > * {
  margin: 10px 0;
}

